# Certificates per course

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from plotly import express as ex
from scipy import stats
import statsmodels.api as sm

In [5]:
clean = pd.read_csv("./data/clean_data.csv", index_col = 0)
clean

,Institution,subject,honor_code,participants,attended_>50%,certified,%attended_>50%,%finish,%finish_50%,%_video_played,%_forum_post,tot_hours,median_hours,median_age,%_male,%_female,%_degree,Years
0,MITx,"Science, Technology, Engineering, and Mathematics",1,36105,5431,3003,15.04,8.32,54.98,83.2,8.17,418.94,64.45,26.0,88.28,11.72,60.68,2012
1,MITx,Computer Science,1,62709,8949,5783,14.27,9.22,64.05,89.14,14.38,884.04,78.53,28.0,83.50,16.50,63.04,2012
2,MITx,"Science, Technology, Engineering, and Mathematics",1,16663,2855,2082,17.13,12.49,72.85,87.49,14.42,227.55,61.28,27.0,70.32,29.68,58.76,2012
3,HarvardX,Computer Science,1,129400,12888,1439,9.96,1.11,11.11,0,0.00,220.90,0.00,28.0,80.02,19.98,58.78,2012
4,HarvardX,"Government, Health, and Social Science",1,52521,10729,5058,20.44,9.64,47.12,77.45,15.98,804.41,76.10,32.0,56.78,43.22,88.33,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,HarvardX,"Humanities, History, Design, Religion, and Edu...",0,615,305,20,49.59,3.25,6.56,80.81,8.78,1.71,5.93,38.0,56.82,43.18,74.66,2016
286,HarvardX,"Humanities, History, Design, Religion, and Edu...",0,2871,267,20,9.30,0.70,7.49,70.11,0.00,4.26,11.33,34.0,25.24,74.76,82.31,2016
287,MITx,"Science, Technology, Engineering, and Mathematics",0,3937,974,49,24.74,1.24,5.03,12.27,4.72,15.62,58.50,24.0,91.17,8.83,61.32,2016
288,MITx,"Science, Technology, Engineering, and Mathematics",0,1431,208,8,14.54,0.56,3.85,0,3.84,3.22,62.38,25.0,93.44,6.56,72.31,2016
289,MITx,"Science, Technology, Engineering, and Mathematics",0,1294,364,38,28.13,2.94,10.44,49.92,4.40,6.87,40.59,25.0,85.95,14.05,65.78,2016

In [15]:
certified_course = pd.pivot_table(clean, index=["Institution", "subject"], values = ["participants", "certified"], aggfunc= "sum")

In [16]:
certified_course.reset_index()

,Institution,subject,certified,participants
0,HarvardX,Computer Science,4587,858394
1,HarvardX,"Government, Health, and Social Science",36476,390100
2,HarvardX,"Humanities, History, Design, Religion, and Edu...",55724,632856
3,HarvardX,"Science, Technology, Engineering, and Mathematics",11208,219771
4,MITx,Computer Science,46756,668940
5,MITx,"Government, Health, and Social Science",45791,627860
6,MITx,"Humanities, History, Design, Religion, and Edu...",10493,189647
7,MITx,"Science, Technology, Engineering, and Mathematics",33670,862289